<div class="wrap">
<form class="ui form segment">
  <fieldset>

      <!-- Nombre-->
      <div class="field">
        <label for="nombre">Nombre</label>
        <div><input id="nombre" name="nombre" type="text" placeholder="nombre" class="form-control" required="true" ng-model="tipoRol.nombre"/></div>
      </div>

      <!-- Funciones -->
      <div class="row">
        <ul ng-show="funciones.length > 0" ng-repeat="fx in funciones" class="collapsible col-xs-8" style="list-style-type: none;">

          <li>

            <div class="checkbox">
              <label  >
                 {{fx.nombre}}<input type="checkbox" ng-model="fx.checked"  />
              </label>
            </div>

          </li>

        </ul>
      </div>

      <!-- Button -->
      <div class="field">
        <div class="col-lg-10 col-lg-offset-2">
          <button id="cancelar" name="cancelar" class="ui red button" ng-click="listar()" >Listar</button>
          <button id="enviar" name="enviar" class="ui green button" type="submit" ng-click="actualizar()">Guardar</button>
      </div>
  </fieldset>
</form>
</div>