<div class="ui page dimmer" id="modalErrorConcurrente" >
	
	<div class="ui page dimmer ng-scope visible active" >
	
		<div class="ui compact icon error modal message" style="width: 50%;">
	  		
	  		<i class="delete icon"></i>
	  		
	  		<div class="header" style="background-color: rgb(255, 251, 230);">
	    		En este momento se está accediendo a este documento, por favor, vuelva a intentarlo mas tarde.
	  		</div>
		    
	    	<div class="actions" style="background-color: rgb(255, 251, 230);">
		        <div class="ui red button" title="Volver"
					ng-click="cancelarModalErrorConcurrente();" ><i class="reply icon"></i>Volver</div>
		    </div>
		</div>
	</div>
	
</div>