<h4 class="ui azulHE block header">
  Lista de parámetros disponibles que se utilizan para el funcionamiento de Horus
  <div class="sub header">Ingrese un texto para filtrar por nombre</div>
</h4>

<!-- Navegacion -->
<div class="ui two column grid">

	<!-- Buscador -->
	<div class="column">
		<div class="ui icon small input">
		  <input type="text" placeholder="Buscar..." ng-model="nombreBusqueda">
		  <i class="search icon"></i>
		</div>
	</div>
	
	<!-- Paginador style="text-align: left"  -->
	<div class="column" ng-include="'views/paginador.html'"></div>

</div>

<!-- Tabla de datos -->
<table class="ui small basic sortable table ">
  
  <thead>
    <tr>
      <th class="manitas" ng-click="paginador.ordenarPor('grupo')" ng-class="paginador.claseOrdenacion('grupo')">Grupo</th>
      <th class="manitas" ng-click="paginador.ordenarPor('nombre')" ng-class="paginador.claseOrdenacion('nombre')">Nombre</th>
      <th class="manitas" ng-click="paginador.ordenarPor('type')" ng-class="paginador.claseOrdenacion('type')">Tipo</th>
      <th class="manitas" ng-click="paginador.ordenarPor('valor')" ng-class="paginador.claseOrdenacion('valor')">Valor</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="e in elementos | filter: nombreBusqueda " ng-class="{'error':e.borrado}" >
      <td>{{e.grupo}}</td>
      <td>{{e.nombre}}</td>
      <td>{{e.type}}</td>
      <td>{{e.valor}}</td>
      <td>
        <div ng-click="editar(e)" class="circular ui tiny icon button" ng-class="{'loading': e.borrado}">
        	<i class="edit icon" title="Editar"></i></div>
        <div ng-click="confirmarEliminar(e)" class="circular ui tiny icon button" ng-class="{'loading': e.borrado}">
        	<i class="delete icon" title="Eliminar"></i></div>
      </td>
    </tr>
  </tbody>

</table> 

<!-- Dimmer de confirmar eliminiacion -->
<div ng-include="'views/modalEliminar.html'"></div>