<div class="noImprimible">
		
	<div class="ui small buttons" >
		<div class="ui orange button" ng-click="cancelar()" ><i class="reply icon"></i>Cerrar</div>
	</div>
	
</div>


<div id="wrapper" >

	<embed  type = "application/pdf" ng-show="esIE"  src="{{pdfURL}}" width="100%" height="450px"></embed>
	<object type = "application/pdf" ng-show="!esIE" data="{{pdfURL}}" width="100%" height="450px"></object>
			
</div>

<!-- <div class="noImprimible">
	
	<div class="ui message" ng-class="{'red':mensajes.error, 'green':!mensajes.error}" ng-show="hayMensajes">{{mensajes.mensaje}}</div>
	
	<div class="ui small buttons" >
		<div class="ui orange button" ng-click="cancelar()" ><i class="reply icon"></i>Cerrar</div>
	</div>
	
	<div ng-show="generandoPDF" class="ui text loader">Generando PDF...</div>
	
	<!-- Dimmer cargando info --
	<div class="ui inverted dimmer" ng-class="{'active':haciendo}" id="haciendo"><div class="ui text loader">Preparando informe...</div></div>
	
	<!-- Estaba comentado -->	
<!-- 	<div class="ui segment"> --
<!-- 		<object data="{{pdf}}" type="application/pdf" width="100%" height="600px"> -->
<!-- 		  <p>No tiene un visor de PDF instalado, descargue el archivo <a ng-href="{{pdf}}">haciendo click aquí</a>, y póngase en contacto con soporte técnico.</p> -->
<!-- 		</object> --
<!-- 	</div> --
<!----

</div>

<div id="impresion"  class="imprimible hojaA4" style="min-height: 600px; margin: 0 1% 0 1%;">

	<div style="width:100%; float:left; margin-top: 3cm;">
		<div ng-repeat="itemLista in listaAImprimir " class="item" ng-style="itemLista.estilo" style="display: inline-block; vertical-align: middle;">
			<div ng-bind-html="itemLista.label | rawHtml" style="width: auto; display: inline-block; vertical-align: middle;"></div>
			<span style="display: inline-block; vertical-align: middle;">{{itemLista.valor}}</span>
		</div>
	</div>
		
	<div style="width:100%; display: inline-block; vertical-align: middle;">
	    <h3>Informe:</h3>
	    <div ng-bind-html="elemento.texto | rawHtml"  style="width:100%; padding: 20px;"></div>
	    <span ng-bind-html="elemento.firmaEfector | rawHtml" style="width:30%;float: right;" ></span>
	</div>
		
		
	<div style="width:100%; position: absolute; bottom: 0; text-align: center;">
		<div ng-bind-html="template.pie | rawHtml"  ></div>
	</div>
	
</div>-->