<!-- Navegacion -->
<div class="ui form">

	<div class="five fields">

		<!-- 	Servicios disponibles -->
		<div class=" field">

			<label>Servicios:</label>

			<div class="ui dropdown selection" id="listaServicios">

				<div class="text">{{servicioSeleccionado}}</div>
				<i class="dropdown icon"></i>

				<div class="menu">
					<div class="item"
						ng-class="{'active': 'Todos' == servicioseleccionado}"
						ng-click="seleccionoServicio({nombre:'Todos'})">Todos</div>

					<div class="item"
						ng-class="{'active': servicio.nombre == servicioseleccionado}"
						ng-repeat="servicio in servicios track by $index | orderBy: nombre "
						ng-click="seleccionoServicio(servicio)">{{servicio.nombre}}</div>
				</div>

			</div>
		</div>

		<!-- 	Estados del estudio disponibles -->
		<div class="field">

			<label>Estados:</label>

			<div class="ui dropdown selection" id="listaEstados">

				<div class="text">{{estadoSeleccionado}}</div>
				<i class="dropdown icon"></i>

				<div class="menu">
					<div class="item"
						ng-class="{'active': 'Todos' == estadoSeleccionado}"
						ng-click="seleccionoEstado('')">Todos</div>

					<div class="item "
						ng-class="{'active': estado == estadoSeleccionado}"
						ng-repeat="estado in estados " ng-click="seleccionoEstado(estado)">
						{{estado}}</div>
				</div>

			</div>
		</div>

		<div class=" field">
			<label>Fecha desde:</label>
			<div class="ui left icon manitas input">
				<input type="text" id="fechaDesde"
					ng-datepicker="obtenerPedidosPorFecha" ng-model="fechaActual"
					placeholder="Haga click aqu&iacute; para seleccionar el d&iacute;a"
					size="28" /> <i class="calendar icon"></i>
			</div>
		</div>

		<div class=" field">
			<label>Fecha hasta:</label>

			<div class="ui left icon manitas input">
				<input type="text" id="fechaHasta"
					ng-datepicker="obtenerPedidosPorFecha" ng-model="fechaHasta"
					placeholder="Haga click aqu&iacute; para seleccionar el d&iacute;a"
					size="28" /> <i class="calendar icon"></i>
			</div>

		</div>

		<div class="field">
			<label>Buscar utilizando los campos:</label>
			<div class="ui right labeled icon button"
				ng-click="buscarPorFiltros()">
				<i class="search icon"></i> Buscar
			</div>
		</div>
	</div>

</div>

<h6 class="ui dividing header divisor"></h6>
<!-- <div class="ui horizontal divider">&nbsp;</div> -->

<div class="ui form">

	<div class="five fields">

		<!-- Buscador -->
		<div class="field">
			<label>Filtro:</label>
			<div class="ui icon small input">
				<input type="text" placeholder="Buscar..." ng-model="nombreBusqueda">
				<i class="filter icon"></i>
			</div>
		</div>

		<div class="field"></div>

		<!-- Paginador style="text-align: left"  -->
		<div class="field" style="text-align: center;">
			<label>Seleccione la página</label>
			<div ng-include="'views/paginador.html'"></div>
		</div>

		<div class="field"></div>

		<!-- Refrescar -->
		<div class="field">
			<label></label>
			<h5 class="manitas" ng-click="buscarPorFiltros()" type="text">
				<i class="refresh icon"></i>Refrescar listado
			</h5>
		</div>

	</div>

</div>

<!-- Lista de Perfiles -->
<h4 class="ui header" ng-show="elementos.length == 0"
	style="color: #004070; text-align: center;">No hay pedidos según
	los criterios de búsqueda ingresados.</h4>


<table class="ui small compact sortable basic table "
	ng-show="elementos.length > 0">
	<!--  	Columnas: ID pedido, Paciente, Estudio, Medico efector, Servicio efector y Acciones -->
	<thead>
		<tr>
			<th class="manitas one wide"
				ng-click="paginador.ordenarPor('numero')"
				ng-class="paginador.claseOrdenacion('numero')">ID pedido</th>
			<th class="manitas three wide"
				ng-click="paginador.ordenarPor('paciente')"
				ng-class="paginador.claseOrdenacion('paciente')">Paciente</th>
			<th class="manitas four wide"
				ng-click="paginador.ordenarPor('estudios')"
				ng-class="paginador.claseOrdenacion('estudios')">Estudio</th>
			<th class="manitas four wide"
				ng-click="paginador.ordenarPor('actuante')"
				ng-class="paginador.claseOrdenacion('actuante')">Médico
				efector</th>
			<th class="manitas two wide"
				ng-click="paginador.ordenarPor('servicio')"
				ng-class="paginador.claseOrdenacion('nombreServicio')">Servicio
				efector</th>
			<!--  estado pedido -->
			<th class="manitas two wide"
				ng-click="paginador.ordenarPor('estado')"
				ng-class="paginador.claseOrdenacion('estado')">Estado</th>
			<th class="two wide">Acciones</th>
		</tr>
	</thead>

	<tbody>
		<!-- ng-class="{'negative':e.estadoEstudio=='Cancelado', 'positive':e.estadoEstudio=='Informado', 'warning': e.estadoEstudio=='En Atención'}" -->
		<tr ng-repeat="e in elementos | filter: nombreBusqueda"
			ng-class="{'negative':e.urgente}">
			<td>{{e.numero}}</td>
			<td>{{e.paciente}}</td>
			<td style="text-align: left;">{{e.estudios}}</td>
			<td>{{e.actuante}}</td>
			<td>{{e.nombreServicio}}</td>
			<td>{{e.estado}}</td>
			<td>

				<div ng-click="imprimir(e)"
					class="circular ui mini compact icon button"
					ng-show="e.estadoEstudio!='Cancelado' && e.estadoEstudio!='En Atención'">
					<i class="print icon" title="Imprimir pedido"></i>
				</div>

				<div ng-click="ver(e)" class="circular ui mini compact icon button"
					ng-show="e.estadoEstudio!='Cancelado' && e.estadoEstudio!='En Atención'">
					<i class="unhide icon" title="Ver pedido"></i>
				</div>
				<div ng-click="verPedidosPaciente(e)"
					class="circular ui mini compact icon button">
					<i class="male icon" title="Ver pedidos del paciente"></i>
				</div>
				<div ng-click="verHistorialDelPaciente(e)"
					class="circular ui mini compact icon button">
					<i class="treatment icon" title=""></i>
				</div>
				
				 <!-- Dimmer -->
				<div class="ui dimmer" ng-class="{'active':haciendo}">
					<div class="content">
						<div class="center">
							<div class="ui active inline loader"></div>
						</div>
					</div>
				</div>

			</td>
		</tr>
	</tbody>

</table>

<!-- Dimmer cargando info -->
<div class="ui inverted dimmer" ng-class="{'active':haciendo}"
	id="haciendo">
	<div class="ui text loader">Procesando información...</div>
</div>


<section ng-include="'views/modalConfirmarAccion.html'"></section>