<div
	class="sixteen wide column ui attached fluid form  segment cajaSombreadaSinTop"
	novalidate name="form">

	<!-- Navegacion -->
	<div class="ui form">
		<div class="ui grid">
		<div class="four wide column">
			<h3 class="ui azulHE header">Buscar Paciente</h3>
		</div>
	</div>
		<div class="five fields">

			<div class=" field">
				<label>DNI</label>
				<div class="ui input">
					<input ng-model="filtroBusqueda.dni" onKeyPress="return onlyNumber(event);"
						name="dni" type="text" id="dni"
						placeholder="Ingrese DNI del Paciente" />


				</div>
			</div>
			<div class=" field">
				<label>Apellido</label>
				<div class="ui input" id="apellido">
					<input ng-model="filtroBusqueda.apellido" name="apellido" id="apellido" type="text" 
						placeholder="Ingrese apellido del Paciente" ng-change="changeApellido()"/>
				</div>
			</div>
			<div class=" field">
				<label>Nombre</label>
				<div class="ui input" id="nombre">
					<input ng-model="filtroBusqueda.nombre" name="nombre" id="nombre" type="text" 
						placeholder="Ingrese nombre del Paciente" ng-change="changeNombre()" />
				</div>
			</div>

			<div class="field">
				<label>Buscar</label>
				<div class="ui right labeled icon button"
					ng-click="buscarPaciente(this)">
					<i class="search icon"></i> Buscar
				</div>

			</div>
		</div>

	</div>

	<h6 class="ui dividing header divisor"></h6>

	<div class="ui form">

		<div class="five fields">

			<!-- Buscador -->
			<div class="field">
				<label>Filtro:</label>
				<div class="ui icon small input">
					<input type="text" placeholder="Buscar..."
						ng-model="nombreBusqueda" ng-change="filtrar(this)"> <i
						class="filter icon"></i>
				</div>
			</div>

			<div class="field"></div>

			<!-- Paginador style="text-align: left"  -->
			<div class="field" style="text-align: center;">
				<label>Seleccione la página</label>
				<div ng-include="'views/paginador.html'"></div>
			</div>

			<div class="field"></div>

			<!-- Refrescar
			<div class="field">
				<label></label>
				<h5 class="manitas" ng-click="buscarPorFiltros()" type="text">
					<i class="refresh icon"></i>Refrescar listado
				</h5>
			</div> -->

		</div>

	</div>

	<!-- Lista de Pacientes -->
	<h4 class="ui header" ng-show="elementos.length == 0"
		style="color: #004070; text-align: center;">No hay pacientes
		según los criterios de búsqueda ingresados.</h4>
	<h4 class="ui header" ng-show="elementos.length == 0"
		style="color: #004070; text-align: center;">Busque por DNI o Nombre y Apelldo</h4>


	<table class="ui small compact sortable basic table "
		ng-show="elementos.length > 0">
		<!--  	Columnas: ID pedido, Paciente, Estudio, Medico efector, Servicio efector y Acciones -->
		<thead>
			<tr>

				<th class="manitas four wide"
					ng-click="paginador.ordenarPor('paciente')"
					ng-class="paginador.claseOrdenacion('paciente')">Paciente</th>

				<th class="manitas two wide"
					ng-click="paginador.ordenarPor('fechaNacimiento')"
					ng-class="paginador.claseOrdenacion('fechaNacimiento')">Fecha
					Nacimiento</th>
				<th class="manitas two wide"
					ng-click="paginador.ordenarPorFecha('sexo')"
					ng-class="paginador.claseOrdenacion('sexo')">Sexo</th>

				<th class="manitas four wide"
					ng-click="paginador.ordenarPor('dniPaciente')"
					ng-class="paginador.claseOrdenacion('dniPaciente')">DNI
					Paciente</th>
				<th class="two wide">Acciones</th>
			</tr>
		</thead>

		<tbody>

			<tr ng-repeat="e in elementos ">
				<td>{{ e.apellido }}</td>
				<td>{{ e.fechaNacimiento }}</td>
				<td>{{ e.sexo }}</td>
				<td>{{ e.nroDocumento }}</td>

				<td>

					<div ng-click="verPedidosDePaciente(e)"
						class="circular ui compact mini icon button">
						<i class="book icon" title=""></i>
					</div>
					
				</td>
			</tr>
		</tbody>

	</table>

	<!-- Dimmer cargando info -->
	<div class="ui inverted dimmer" ng-class="{'active':haciendo}"
		id="haciendo">
		<div class="ui text loader">Procesando información...</div>
	</div>
</div>