<!--    <div class="ui text loader">Recuperando usuarios del Active Directory</div> -->
<!-- </div> -->

<!-- <div class="ui modal" id="verTemplate"> -->
<div class="content">
	
	<h3 class="ui header">Plantilla</h3>
	
	<div class="ui form segment" novalidate name="form">
	
		
		  <div class="field" >
		    <label>Título</label>
		    <div>{{elemento.titulo}}</div>
		  </div>
		  
		  <div class="field" >
		    <label>Texto de la plantilla / template</label>
	    	<div ng-bind-html="elemento.texto | rawHtml" class="ui form segment"></div>
		  </div>
	  
	</div>
	
</div>

<!-- 	<div class="ui buttons right floated"> -->
<!-- 		<div class="ui red button" ng-click="cancelar()"> -->
<!-- 			<i class="reply icon"></i>Cerrar -->
<!-- 		</div> -->
<!-- 	</div> -->
	
