.arrow {
    cursor: pointer;
    display: block;
    height: 64px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 5;
}
.arrow.prev {
    background-image: url("../images/prev.png");
    left: 20px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.arrow.next {
    background-image: url("../images/next.png");
    opacity: 0.2;
    right: 20px;
    transition: all 0.2s linear 0s;
}
.arrow.prev:hover{
    opacity:1;
}
.arrow.next:hover{
    opacity:1;
}

.nav {
    bottom: -4px;
    display: block;
    height: 48px;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
}
.nav li {
    border: 5px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0 8px;
    position: relative;
    width: 50px;
}
.nav li.active {
    border: 5px solid #FFFFFF;
}
.nav li img {
    width: 100%;
}

.slider {
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    height: 500px;
    margin: 20px auto;
    position: relative;
    width: 800px;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
}
.slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

section[role="main"] {
  background: url(http://zurb.com/playground/uploads/upload/upload/87/wood-bg.jpg) repeat;
}

section[role="main"] p a, li a {
  color: #7E3200;
}

section[role="main"] p a:hover, li a:hover {
  color: #461C00;
}

div#sidebarAd.cleanslate {
  background: rgba(255, 255, 255, 0.25);
}

.CodeRay { background: rgba(255, 255, 255, 0.75); }
.row { overflow: visible }
.project-header { margin-bottom: 1em; }
  
@media screen and (max-width: 767px) {
  .polaroids li:nth-child(n+5) {
    display: none;
  }
}

ul.polaroids li { 
  display: inline; 
}

ul.polaroids a { 
  background: #fff; 
  color: #333; 
  display: inline; 
  float: left; 
  font-family: "Marker Felt", sans-serif; 
  font-size: 18px; 

  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); 
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); 
  -webkit-transition: -webkit-transform .15s linear; 

  -webkit-transform: rotate(-2deg); 
  -moz-transform: rotate(-2deg); 

  margin: 0 0 27px 30px; 
  padding: 10px 10px 15px; 
  text-align: center; 
  text-decoration: none; 
  width: auto; 
}

ul.polaroids li {
  padding-left: 0;
}
@media screen and (max-width: 768px) {
  ul.polaroids li a {
    margin-left: 0;
  } 
}

ul.polaroids img { display: block; width: 190px; margin-bottom: 12px; }
ul.polaroids a:after { content: attr(title); }
        
ul.polaroids li:nth-child(even) a { -webkit-transform: rotate(2deg);  -moz-transform: rotate(2deg); }
ul.polaroids li:nth-child(3n) a { -webkit-transform: none; position: relative; top: -5px;  -moz-transform: none; }
ul.polaroids li:nth-child(5n) a { -webkit-transform: rotate(5deg); position: relative; right: 5px;  -moz-transform: rotate(5deg); }
ul.polaroids li:nth-child(8n) a { position: relative; right: 5px; top: 8px; }
ul.polaroids li:nth-child(11n) a { position: relative; left: -5px; top: 3px; }
        
ul.polaroids li.messy a {
  margin-top: -400px;
  position: relative;
  left: 160px;
}
        
ul.polaroids li a:hover { 
  -webkit-transform: scale(1.25); 
  -moz-transform: scale(1.25); 

  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); 
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); 

  position: relative; 
  z-index: 5; 
}